In [35]:
import pandas as pd

In [62]:
df = pd.read_csv('/Users/ethan/Documents/GitHub/OpenSesame/Class2/stims1.csv')

In [63]:
manmade = df.loc[df['Category'] == 'manmade']
natural = df.loc[df['Category'] == 'natural']

In [64]:
natural.shape

(40, 6)

In [65]:
manmade.shape

(40, 6)

In [66]:
manmade_unr = manmade.loc[manmade['Mod_level'] == 'unrelated']
manmade_exa = manmade.loc[manmade['Mod_level'] == 'exact']
manmade_one = manmade.loc[manmade['Mod_level'] == 'one_modification']
manmade_two = manmade.loc[manmade['Mod_level'] == 'two_modifications']

In [55]:
manmade_unr1 = manmade_unr.iloc[::4, :]
manmade_unr2 = manmade_unr.iloc[1::4, :]
manmade_unr3 = manmade_unr.iloc[2::4, :]
manmade_unr4 = manmade_unr.iloc[3::4, :]

In [56]:
manmade_unr1

    Mod_level Prime_word Target Category correct_response  word_length
12  unrelated       SHOE   WALL  manmade                M            4
28  unrelated       KNEE   CAKE  manmade                M            4
48  unrelated       BUNS   LIST  manmade                M            4

In [57]:
manmade_unr2

    Mod_level Prime_word Target Category correct_response  word_length
16  unrelated       BATH   BALL  manmade                M            4
36  unrelated      MOOSE  TRUCK  manmade                M            5
52  unrelated      BREAD   PAGE  manmade                M            4

In [58]:
manmade_unr3

    Mod_level Prime_word Target Category correct_response  word_length
20  unrelated       HOME   COAT  manmade                M            4
40  unrelated      TRICK  BREAD  manmade                M            5

In [59]:
manmade_unr4

    Mod_level Prime_word Target Category correct_response  word_length
24  unrelated       FROG   LAMP  manmade                M            4
44  unrelated       APLE   TOOL  manmade                M            4

In [60]:
set(df.loc[df['Category'] == 'manmade']['Target'])

{'BALL',
 'BREAD',
 'CAKE',
 'COAT',
 'LAMP',
 'LIST',
 'PAGE',
 'TOOL',
 'TRUCK',
 'WALL'}